<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.5.10/Rx.min.js"></script>
    <link rel="stylesheet" href="./vue.modal.min.css">
    <script src="./vue.modal.min.js"></script>
    
</head>

<body>
    <div id='app'>
        <h2>Demo for Vue.Modal</h2>
        <div class="col-md-2">
            <input type="button" :value="disableModalOk===true?'Enable OK button':'Disable OK button'" class="form-control" v-on:click="disableModalOk=!disableModalOk" />
        </div>
        <div class="col-md-2">
            <input type="button" value="Show Modal" class="form-control" v-on:click="openModal" />
        </div>

        <pop-modal v-if="showModal" :disable-ok="disableModalOk" text-ok="Save and close" v-on:close="closeModal" v-on:cancel="showModal=false">
            <p slot="header">
                {{ header }}
            </p>
            <div slot="body">
                <h4 v-for="item in mockArr"> {{ item }}</h4>
            </div>
        </pop-modal>
    </div>


    <script src="./demo.js"></script>
</body>

</html>